.main-calendar {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  color: #dbdbdb;
  flex: 1 0 0;

  overflow: auto;

  .week {
    display: flex;
    justify-content: space-between;
    text-align: end;

    span {
      flex-grow: 1;
      padding-right: 5px;
    }

    margin-bottom: 1rem;
  }

  .dates {
    display: grid;
    flex: 1 0 0;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(1fr, auto));

    .date-item {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      font-size: 0.8rem;
      padding: 5px;
      border-top: 1px solid #303030;
      border-left: 1px solid #303030;

      span {
        text-align: end;
      }

      .schedule-item {
        display: flex;
        align-items: center;

        div {
          width: 5px;
          height: 5px;
          background-color: white;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }

    border-right: 1px solid #303030;
    border-bottom: 1px solid #303030;
  }

  .weekend {
    color: #878787;
  }

  .other-month {
    color: #5b5b5b;
  }

  .today {
    color: #ff5c47;
    font-weight: bold;
  }
}
